
<div class="card">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!--declarar variable empleado, lo almacenamos en Empleados, icontrol, para conrolar la info  -->
                    <tr *ngFor="let empleado of Empleados; let iControl=index">
                        <td>{{empleado.id}}</td>
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.correo}}</td>
                        <td>
                            <a class="btn btn-primary" routerLink="/edit-employee/{{empleado.id}}">Editar</a> 
                            <a class="btn btn-danger" (click)="deleteEmployee(empleado.id, iControl)" >Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    
</div>
